body{
    font-family: "Montserrat";
    text-align: center;
}
#title{
    
    text-align: left;
}
/* sections */
.colored-section{
    background-color: #ff4c68;
    color:#fff;
}
.white-section{
    background-color: #fff;
}
.font{
     font-family: "Montserrat-Black",sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
}
.testimonial-text{
    line-height: 1.5;
    font-size: 3rem;
    color: #fff;
}
h2,h3{
    font-family: "Montserrat-Bold";}
    h3{
    font-size: 1.5rem;
    }


p{
    color: #8f8f8f;
    font-weight: lighter;
}
.container-fluid{
    padding: 3% 15% 7%;
}
.navbar{
    padding: 0 0 4.5rem;
}
.navbar-brand{
    font-family: Ubuntu;
    font-weight: bold;
    font-size: 2.5rem;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.3rem;
    font-family: "Montserrat-Light";
}
/* DOWNLOAD BUTTON */
.down-btn{
    margin: 5% 3% 5% 0%;
}
.img{

    width:60%;
    transform: rotate(25deg);
    right: 30%;
    position: absolute;
}
/* feature section */
#features{
    padding: 8% 10% ;
    z-index: 1;
    position: relative;
}
.feature-box{
  padding: 5%;
}
.icon{
    margin-bottom: 1rem;
    color: #ef8172;
}
.icon:hover {
color:#ff4c68
}
/* testimonial section */
#testimonials{
    background-color:#ef8172;
    color: #fff;
}
.testimonial-img{
    width: 15%;
    border-radius: 100%;
    margin: 20px;
}
/* press section */
#press{
    background-color:#ef8172;
    padding-bottom: 3%;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}
.carousel-item{
    padding:7% 15% ;
}
/* card section */
#pricing{
    padding: 100px;
    
}
.pricing-column{
    padding: 3%;
}
.pricing-heading{
    font-size: 3rem;
    line-height: 1.5;
}
@media (max-width :1008px)
{
    #title{
        text-align: center;
    }
    .img{
         position: static;
   transform: rotate(0);
    }   
    
}
/* CTA SECTION */
#cta{
    padding:7% 15%;
    
}
.cta-heading{
    font-family: Montserrat-Black;
    color: #fff;
    font-size: 3.5rem;
    font-weight: bolder;
    line-height: 1.5;
    /* footer section */
}
#footer{
    padding: 7%;
    
}
.social-icon{
    margin-right: 1%;
    
}